#textdomain wesnoth-Return_from_Captivity

[unit_type]
    id=Desert Cobra
    name= _ "Desert Cobra"
    race=monster
    image="units/cobra.png"
    hitpoints=56
    movement_type=cobramove
    movement=6
    experience=90
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=45
    usage=fighter
    description= _ "Desert cobras are extremely dangerous. They can poison their enemies and hide in the sand."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}
    die_sound=hiss-big.wav
    {DEFENSE_ANIM "units/cobra.png" "units/cobra.png" hiss.wav }
    [abilities]
        [hides]
            id=hideinsand
            name= _ "hide in the sand"
            name_inactive= _ "hide in the sand"
            description= _ "Hide in the sand:
This unit can hide in the sand, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in the sand, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
            description_inactive= _ "Hide in the sand:
This unit can hide in the sand, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in the sand, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
            affect_self=yes
            [filter_self]
                [filter_location]
                    terrain=Dd,Dd^Dr,Dd^Do,Ds,Hd
                [/filter_location]
            [/filter_self]
        [/hides]
    [/abilities]
    [attack]
        name=fangs
        description=_"fangs"
        icon=units/fangs-cobra.png
        type=pierce
        range=melee
        damage=18
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
[/unit_type]
