#textdomain wesnoth-Return_from_Captivity

[unit_type]
    id=Orcish Woodcutter
    name= _ "Orcish Woodcutter"
    race=orc
    image="units/orcish-woodcutter.png"
    ellipse="misc/ellipse"
    hitpoints=39
    movement_type=woodland
    movement=5
    experience=34
    level=1
    alignment=chaotic
    advances_to=null
    cost=15
    usage=fighter
    description= _ "The Orcish woodcutters destroy the forest by cutting the forest terrains. Each destroyed forest terrain gives 5 gold income to the owner of the unit."
    {DEFENSE_ANIM units/orcish-woodcutter.png units/orcish-woodcutter.png {SOUND_LIST:ORC_HIT}}	die_sound={SOUND_LIST:ORC_DIE}
    [attack]
        name=battle axe
        description= _ "battle axe"
        icon=attacks/axe.png
        type=blade
        range=melee
        damage=10
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=battle axe
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/orcish-woodcutter.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-50
                end=50
                image="units/orcish-woodcutter.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-50
                end=50
                image="units/orcish-woodcutter.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=200
            image="units/orcish-woodcutter.png"
        [/frame]
    [/attack_anim]
[/unit_type]
