#textdomain wesnoth-Return_from_Captivity
# A supplementary terrain-graphics file
# which is supposed to help with transitions

{DISABLE_TRANSITIONS (Dd^Cd,Dd^Kd)}

{TERRAIN_BASE_RANDOM  Dd^Cd                        desert}
{TERRAIN_BASE_RANDOM  Dd^Kd                        desert}
{OVERLAY              Dd^Kd                        desert-keep-throne}

{WALL_TRANSITION2    (Dd^Cd,Dd^Kd)  Xu     (!,Dd^Cd,Dd^Kd,Xu)    castle/dwarven-castle-wall}
{WALL_TRANSITION     (Dd^Cd,Dd^Kd)  (!,Xu,Qxu,Ql,Dd^Cd,Dd^Kd)    castle/dwarven-castle}

{OVERLAY             Dd^Fi  ../scenery/fire1.png:200,../scenery/fire2.png:200,../scenery/fire3.png:200,../scenery/fire4.png:200,../scenery/fire5.png:200,../scenery/fire6.png:200,../scenery/fire7.png:200,../scenery/fire8.png:200}

{OVERLAY (*^rG\) "../scenery/gate-rusty-sw"}
{OVERLAY (*^rG/) "../scenery/gate-rusty-se"}
{TERRAIN_BASE xx "../water/ocean-tropical"}
